@tailwind base;
@tailwind components;

* {
  font-family: "Arvo", serif;
  /* border: 2px solid red; */
}
body {
  overflow: hidden;
}
.text-2xs {
  font-size: 10px;
}
img {
  aspect-ratio: auto;
}
.light-theme {
  background-image: linear-gradient(
    to left,
    lightskyblue,
    lightskyblue,
    dodgerblue
  );
}

.dark-theme {
  background-image: radial-gradient(darkslateblue, rgb(67, 56, 202));
}

.bx {
  @apply text-2xl pr-2 lg:p-0 translate-y-1 hover:opacity-75 duration-100;
}
@tailwind utilities;

.ulul li {
  @apply hover:underline;
}

input,
textarea {
  @apply hover:border-sky-700 border-2;
}
ul li.w-16 img {
  @apply object-contain mx-auto w-8 h-8 lg:w-12 lg:h-12;
}
ul li.w-16 p {
  margin: auto;
  font-size: 0.75rem;
  text-align: center;
  padding: 4px 2px;
}
.navItem {
  padding: 0.9rem 0;
}
@keyframes cloudAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-cloud {
  animation: cloudAnimation 1s linear infinite alternate;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgb(4, 21, 68);
  transform: translateZ(0);
}
.text-shadow-xl {
  text-shadow: 4px 4px 8px rgb(4, 21, 68);
  transform: translateZ(0);
}
